@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: open_sans;
	src: url(images/OpenSans-Regular.ttf);
}
.clear {
	clear: both;
	display: table;
}
.clearfix {
	clear: both;
}
body {
	background: url("images/bg.jpg") no-repeat ;
	font-family: open_sans;
	color: #f5f5f7;
}
.wrap {
	background:none;
	margin: 0 auto;
	width: 34%;
}
.container {
    margin: 0 auto;
    text-align: center;
}
#logo{ padding-top: 20px;  }
#logo a{ display:block; }
#logo a img{ max-width:100%;}

.button15 a{ display:block;}
.button15 a img{ max-width:100%;}
h3 {
	color: #BCBDBF;
	font-family: open_sans;
	font-size: 25px;
	font-weight: bold;
}
.ome_p {
	text-align:center;
	margin-bottom:30px;
}
.ome_p a{ display:block;}
.ome_p a img{ max-width:100%; }
.my_p {
	float:left;
	clear: both;
	font-size: 25px;
	font-weight: 100;
	margin-bottom: 35px;
	width:95%;
	/*text-align:right;*/
}
.myh3 {
	color: #FFFFFF;
	font-family: open_sans;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-top: 20px;
	text-align:center;
}
.device_image{ text-align:center;}
.device_image a{display:block;}
.device_image a img{ max-width:100%;}

@media (max-width: 1024px){
.wrap {
	background:none;
	margin: 0 auto;
	width: 100%;
}
.container{ width: 100%;}
.myh3 {
	font-size: 25px;
	margin-bottom: 20px;
	padding-top: 20px;
	text-align:center;
	width:100%;
}

.ome_p {
    width: 92%;
	padding:0 4%;
}
.my_p {
	float:left;
	margin-bottom: 35px;
	width:96%;
	text-align:center;
	padding:0 2%;
	font-size:22px;
}
}