/* Css */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url("font-awesome/css/font-awesome.min.css");
body {
	background-color: #f1f1f3;
	color: #848994;
	font-family: "Open Sans",Arial;
	font-size: 13px;
	line-height: 22px;
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
}
.clearfix {
	clear: both;
}
a {
	color: #3498db;
	text-decoration: none;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	-webkit-transition: all 150ms ease-in;
	-moz-transition: all 150ms ease-in;
	-o-transition: all 150ms ease-in;
	transition: all 150ms ease-in;
}
a:hover {
	color: #3b4550;
}
.margin-0 {
	margin: 0 !important;
}
.container {
	background-color: #FFF;
	border-left: 1px solid #d6d9df;
	border-right: 1px solid #d6d9df;
	width: 604px;
	margin: auto;
	padding: 20px;
}
.header-top {
	padding: 0 10px;
	border: 1px solid #e7e8eb;
	background-color: #f5f6f8;
	line-height: 45px;
	margin-bottom: 10px;
}
.phone-mail {
	font-size: 12px;
	float: left;
}
.phone-mail span {
	color: #3498db;
}
.social {
	float: right;
}
.social ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.social li {
	float: right;
	margin-left: 5px;
}
.social li a {
	display: inline-block;
	font-size: 12.5px;
	line-height: 25px;
	height: 25px;
	width: 25px;
	text-align: center;
	color: #FFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.social li.social-f a {
	background-color: #5d82d1;
}
.social li.social-g a {
	background-color: #40bff5;
}
.social li.social-t a {
	background-color: #eb5e4c;
}
.social li a:hover {
	background-color: #2c3e50;
}
.logo {
	float: right;
}
.congratulations {
	margin: 70px 0;
	text-align: center;
}
.congratulations h3 {
	color: #3498db;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}
.social-2 {
	text-align: center;
}
.social-2 li a {
	display: inline-block;
	font-size: 24px;
	line-height: 48px;
	height: 48px;
	width: 48px;
	text-align: center;
	color: #FFF;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.social-2 li {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 40px
}
.social-2 li:last-child {
	margin-right: 0;
}
.social-2 li.social-r a {
	background-color: #faa33d;
}
.social-2 li.social-f a {
	background-color: #5d82d1;
}
.social-2 li.social-t a {
	background-color: #40bff5;
}
.social-2 li.social-y a {
	background-color: #ef4e41;
}
.social-2 li.social-g a {
	background-color: #eb5e4c;
}
.social-2 li.social-s a {
	background-color: #13c1f3;
}
.social-2 li.social-l a {
	background-color: #238cc8;
}
.social-2 li a:hover {
	background-color: #2c3e50;
}
.footer {
	background-color: #e1f0fa;
	border: 1px solid #aed6f1;
	padding: 20px;
	margin-bottom: 10px;
}
.footer h3 {
	color: #2c3e50;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-bottom {
	margin-bottom: 0;
}
.footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer ul li {
	margin-bottom: 10px;
}
.footer ul li i {
	height: 26px;
	width: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 13px;
	background-color: #3498db;
	color: #FFF;
	float: left;
	margin: 5px 20px 0 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.footer ul li > div {
	overflow: hidden;
	height: 100%;
}
.footer ul li span {
	color: #2c3e50;
}
.footer ul li strong,.footer ul li span span {
	color: #3498db;
}
a.copyright {
	float: right;
	color: #2c3e50;
}
a.copyright:hover {
	color: #3498db;
}