/* ------------------------------ Width > 1200 -------------------------------- */
@media (min-width: 1200px) {
	.header-search input[type="text"]:first-child {
		width: 520px;
	}
	.tabs-about .tabs li a {
		text-align: left;
		padding: 10px 16px;
		width: auto;
	}
	.social-contacts ul li a {
		padding: 10px 25px 28px 45px;
	}
	.recent-footer > div {
		margin-bottom: 0;
	}
	.friends-img {
		margin-bottom: 0;
	}
	.members-img {
		height: 205px;
	}
	.member-page-members .section-members {
		width: 48%;
		margin: 0 4% 4% 0;
	}
	.section-member-page-members .members-img {
		height: 115px;
	}
	.recent-footer > a.recent-more {
		float: right;
	}
	.topbar_nav .nav_item{
		display: block;
<<<<<<< HEAD
=======
	}
	.navigation-mobile{
		display: none;
	}
	.header-nav .topbar_nav{
	    display: block;
>>>>>>> ranya
	}
	.navigation-mobile{
		display: none;
	}
	.header-nav .topbar_nav{
	    display: block;
	}
}
/*------------------------------------------------------------------------------*/

/*-------------------------- width :  768px > 991px ----------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
	.logo {
		width: 245px;
		background-position: left center;
	}
	.header-search > section > div {
		padding-bottom: 0;
	}
	.header-search input[type="text"],.header-search .select-div,.header-search button[type="submit"] {
		margin-bottom: 10px;
	}
	.testimonials-slide,.slide-about,.accordion-about,.tabs-about {
		margin-bottom: 30px;
	}
	.tabs-about .tabs li a {
		text-align: left;
		padding: 10px 16px;
		width: auto;
	}
	.tabs-about .tabs li:last-child {
		float: left;
	}
	.team-img {
		max-width: 300px;
		margin: 30px auto 0;
	}
	.social-contacts ul li a {
		margin-bottom: 10px;
	}
	.favorites {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.member-page-sidebar {
		clear: both;
	}
	.time-line,.member-page-time-line {
		display: none;
	}
	.member-page {
		padding-left: 0;
	}
	.member-page-sidebar-recent .bx-controls-direction, .member-page-members .bx-controls-direction, .member-page-sidebar-recent-2 .bx-controls-direction {
		top: -92px;
	}
	.member-page-sidebar-recent .recent-footer > a.recent-more,.member-page-sidebar-recent-2 .recent-footer > a.recent-more {
		float: right;
	}
	.member-page-members .section-members {
		width: 48%;
		margin: 0 4% 4% 0;
	}
	.section-content.section-members-page {
		height: auto;
	}
	.follow-report {
		width: 100%;
	}
	.follow-report a {
		float: left;
	}
	.follow-report a.report-member {
		margin-bottom: 0;
	}
	.follow-report a.follow-member {
		margin-top: 10px;
	}
	.section-members {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.section-members .members-img {
		height: 300px;
	}
	.register-loc-content {
		padding-bottom: 0;
	}
	.register-loc-content-6 {
		margin-bottom: 20px;
	}
	.register-loc {
		margin-bottom: 30px;
	}
	.form-1 label {
		margin-bottom: 5px;
		display: block;
	}
	.section-content-alert-r,.note-place {
		width: 100%;
		margin-bottom: 0;
	}
	.google-account {
		margin-bottom: 10px !important;
	}
	.adv,.qr-code img {
		max-width: 270px;
		margin-right: auto;
		margin-left: auto;
	}
	.r-f-s,.section-place-page .follow-report {
		float: left;
		margin-top: 10px;
	}
	.section-place-page .follow-report a {
		margin-top: 0;
	}
	.comments {
		width: 100%;
		margin-bottom: 30px;
	}
	.section-4-number {
		margin-bottom: 30px;
	}
	.breadcrumbs {
		height: auto;
		padding: 60px 0 80px;
	}
	.recent-footer > a.recent-more {
		float: right;
	}
	.form-register-locname {
		border-right: none;
	}
	.topbar_nav .nav_item{
		display: block;
	}
	.navigation-mobile{
		display: none;
	}
	.header-nav .topbar_nav{
	    display: block;
	}
<<<<<<< HEAD

=======
>>>>>>> ranya
}
/*------------------------------------------------------------------------------*/

/*-------------------------- Width : 628px > 767px -----------------------------*/
@media only screen and (min-width: 628px) and (max-width: 767px) {
    /* aref */
    .video-player { padding-top: 30px; }
    .section-3 .testimonials-cont { margin-bottom: 50px; }
    .widget-footer-2 { text-align: center; border-bottom: 1px solid rgb(237, 239, 244); padding-bottom: 9px; margin-bottom: 9px; }
    .widget-footer-2 li { float: none !important; display: inline-block; }
    #footer-bottom { padding: 10px 0; }
    #footer-bottom .social { float: right; margin-top: -1px; }
    #footer-bottom .row { margin: 0; }
    #footer-bottom .row > div { padding-left: 0; padding-right: 0; }
    #fb-like-box { width: 100%; height: 206px !important; }
    .like-box-cont { height: 209px; margin-top: 30px; width: 100%; }
    .section-2 .why-slider .why-arrow-right { right: 0; }
    .section-2 .why-slider .why-arrow-left { left: 0; }
    #top-thin-bar h3 { font-size: 11px; margin-top: 8px; }
    #beta-label { top: -9px; right: -44px; }
    #main-header .row ul.navbar-right { width: 100%; }
    #main-header .row ul.navbar-right #header-search { width: 100%; margin: 22px 0 0; }
    #main-header .row ul.navbar-right #header-search .input-group { width: 100% !important; }
    #main-header .row ul.navbar-right li.delitmeter { display: none; }
    #main-header .nav-pills.navbar-right { margin-top: -40px; }
}
<<<<<<< HEAD
/*------------------------------------------------------------------------------*/

/*-------------------------- Width : 452px > 767px -----------------------------*/
@media only screen and (min-width: 452px) and (max-width: 767px) {
=======
/*------------------------------------------------------------------------------*//*                    Width : 480/*------------------------------------------------------------------------------*/
@media only screen and (min-width: 452px) and (max-width: 767px) {	
>>>>>>> ranya
	body {
		width: 100%;
	}
	.logo {
		width: 245px;
		background-position: left center;
	}
	.header-search > section > div {
		padding-bottom: 0;
	}
	.header-search input[type="text"],.header-search .select-div,.header-search button[type="submit"] {
		margin-bottom: 10px;
	}
	.recent-footer > a.recent-more {
		float: right;
	}
	.testimonials-slide,.slide-about,.accordion-about,.tabs-about {
		margin-bottom: 30px;
	}
	.section-4-number {
		margin-bottom: 30px;
	}
	.video-popup {
		height: 300px;
	}
	.team-img {
		max-width: 300px;
		margin: 30px auto 0;
	}
	.tabs-about .tabs li a {
		text-align: left;
		padding: 10px 16px;
		width: auto;
	}
	.tabs-about .tabs li:last-child {
		float: left;
	}
	.social-contacts ul li a {
		margin-bottom: 10px;
	}
	.favorites {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	#footer-bottom .social {
		float: left;
		margin-top: 20px;
	}
	.breadcrumbs {
		height: auto;
		padding: 60px 0 80px;
	}
	.member-page-sidebar {
		clear: both;
	}
	.time-line,.member-page-time-line {
		display: none;
	}
	.member-page {
		padding-left: 0;
	}
	.member-page-sidebar-recent .bx-controls-direction, .member-page-members .bx-controls-direction, .member-page-sidebar-recent-2 .bx-controls-direction {
		top: -92px;
	}
	.section-content.section-members-page {
		height: auto;
	}
	.follow-report {
		width: 100%;
	}
	.follow-report a {
		float: left;
	}
	.follow-report a.report-member {
		margin-bottom: 0;
	}
	.follow-report a.follow-member {
		margin-top: 10px;
	}
	.member-page-members .section-members {
		width: 48%;
		margin: 0 4% 4% 0;
	}
	.section-members {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.section-members .members-img {
		height: 300px;
	}
	.follow-report {
		width: 100%;
	}
	.follow-report a {
		float: left;
	}
	.follow-report a.report-member {
		margin-bottom: 0;
	}
	.follow-report a.follow-member {
		margin-top: 10px;
	}
	.form-1 label {
		margin-bottom: 5px;
		display: block;
	}
	.register-loc-content {
		padding-bottom: 0;
	}
	.register-loc-content-6 {
		margin-bottom: 20px;
	}
	.register-loc {
		margin-bottom: 30px;
	}
	.form-register-locname {
		border-right: none;
	}
	.section-content-alert-r,.note-place {
		width: 100%;
		margin-bottom: 0;
	}
	.google-account {
		margin-bottom: 10px !important;
	}
	a.connect-a {
		clear: none !important;
		margin: 0 !important;
	}
	a.skip-a-2 {
		float: left;
		clear: left;
		margin-right: 10px;
	}
	.adv,.qr-code img {
		max-width: 270px;
		margin-right: auto;
		margin-left: auto;
	}
	.header-top {
		height: auto;
		padding-bottom: 10px;
	}
	.header-nav {
		height: auto;
		padding-bottom: 10px;
	}
	.logo {
		margin-right: auto;
		margin-left: auto;
		float: none;
		display: block;
	}
	.navigation-mobile {
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
		float: none;
		display: block;
	}
	.header-nav .topbar_nav{
	    display: none;
	}
	.header-search-2.header-search input[type="text"]:first-child {
		width: 100%;
		margin-right: 0;
	}
	.header-search-2.header-search button[type="submit"] {
		width: 100%;
	}
	.section-content-head-span {
		display: block;
		margin-bottom: 10px;
		float: left;
	}
	.r-f-s,.section-place-page .follow-report {
		float: left;
		margin-top: 10px;
	}
	.section-place-page .follow-report a {
		margin-top: 0;
	}
	.section-members-page .section-members-content ul li {
		margin-bottom: 5px;
	}
	.topbar_nav .nav_item{
		display: none;
	}
<<<<<<< HEAD
}
/*------------------------------------------------------------------------------*/

/*------------------------------- width : 479px --------------------------------*/
=======
}/*------------------------------------------------------------------------------*/
/*                    width : 479px 
/*------------------------------------------------------------------------------*/
>>>>>>> ranya
@media only screen and (max-width: 479px) {	
	body {	
		width: 100%;
	}
	.logo {
		width: 245px;
		background-position: left center;
	}
	.header-search > section > div {
		padding-bottom: 0;
	}
	.header-search input[type="text"],.header-search .select-div,.header-search button[type="submit"] {
		margin-bottom: 10px;
	}
	.header-search input[type="text"]:first-child,.header-search input[type="text"] {
		width: 100%;
		margin-right: 0;
	}
	.recent-footer > a.recent-more {
		float: right;
	}
	.testimonials-slide,.slide-about,.accordion-about,.tabs-about {
		margin-bottom: 30px;
	}
	.section-4-number {
		margin-bottom: 30px;
	}
	.video-popup {
		height: 400px;
		width: 90%;
	}
	.team-img {
		max-width: 300px;
		margin: 30px auto 0;
	}
	.tabs-about .tabs li a {
		text-align: left;
		padding: 10px 16px;
		width: auto;
	}
	.tabs-about .tabs li:last-child {
		float: left;
	}
	.social-contacts ul li a {
		margin-bottom: 10px;
	}
	.subscribe-contacts input[type="text"],.subscribe-contacts input[type="submit"] {
		width: 100%;
	}
	.subscribe-contacts input[type="text"] {
		margin-bottom: 10px;
	}
	.member-page-sidebar .recent-footer > div {
		margin-right: 30px;
	}
	#footer-bottom .social {
		float: left;
		margin-top: 20px;
	}
	.breadcrumbs {
		height: auto;
		padding: 60px 0 80px;
	}
	.member-page-sidebar {
		clear: both;
	}
	.time-line,.member-page-time-line {
		display: none;
	}
	.member-page {
		padding-left: 0;
	}
	.member-page-sidebar-recent .bx-controls-direction, .member-page-members .bx-controls-direction, .member-page-sidebar-recent-2 .bx-controls-direction {
		top: -92px;
	}
	.section-content.section-members-page {
		height: auto;
	}
	.follow-report {
		width: 100%;
	}
	.follow-report a {
		float: left;
	}
	.follow-report a.report-member {
		margin-bottom: 0;
	}
	.follow-report a.follow-member {
		margin-top: 10px;
	}
	.member-page-members .section-members {
		width: 48%;
		margin: 0 4% 4% 0;
	}
	.section-members {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.section-member-page-members .members-img {
		height: 170px;
	}
	.section-members .members-img {
		height: 350px;
	}
	.follow-report {
		width: 100%;
	}
	.follow-report a {
		float: left;
	}
	.follow-report a.report-member {
		margin-bottom: 0;
	}
	.follow-report a.follow-member {
		margin-top: 10px;
	}
	.form-1 label {
		margin-bottom: 5px;
		display: block;
	}
	.register-loc-content {
		padding-bottom: 0;
	}
	.register-loc-content-6 {
		margin-bottom: 20px;
	}
	.register-loc {
		margin-bottom: 30px;
	}
	.section-content-alert-r,.note-place {
		width: 100%;
		margin-bottom: 0;
	}
	.google-account {
		margin-bottom: 10px !important;
	}
	a.connect-a {
		clear: none !important;
		margin: 0 !important;
	}
	a.skip-a-2 {
		float: left;
		clear: left;
		margin-right: 10px;
	}
	.adv,.qr-code img {
		max-width: 270px;
		margin-right: auto;
		margin-left: auto;
	}
	.header-top {
		height: auto;
		padding-bottom: 10px;
	}
	.header-nav {
		height: auto;
		padding-bottom: 10px;
	}
	.logo {
		margin-right: auto;
		margin-left: auto;
		float: none;
		display: block;
	}
	.navigation-mobile {
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
		float: none;
		display: block;
	}
	.header-nav .topbar_nav{
	    display: none;
	}
	.header-search-2.header-search input[type="text"]:first-child {
		width: 100%;
		margin-right: 0;
	}
	.header-search-2.header-search button[type="submit"] {
		width: 100%;
	}
	.section-content-head-span {
		display: block;
		margin-bottom: 10px;
		float: left;
	}
	.r-f-s,.section-place-page .follow-report {
		float: left;
		margin-top: 10px;
	}
	.section-place-page .follow-report a {
		margin-top: 0;
	}
	.section-members-page .section-members-content ul li {
		margin-bottom: 5px;
	}
	.place-meta li > div,.place-meta li:last-child > div {
		width: 100%;
		margin: 0 0 10px 0;
	}
	.place-meta li:last-child > div:last-child {
		margin-bottom: 0;
	}
	a.section-content-head-a {
		margin-left: 30px;
	}
	.comments {
		width: 100%;
		margin-bottom: 30px;
	}
	.form-register-locname {
		border-right: none;
	}
	.topbar_nav .nav_item{
		display: none;
	}
}
<<<<<<< HEAD
/*------------------------------------------------------------------------------*/

/*------------------------------- width < 450px --------------------------------*/
=======
/*------------------------------------------------------------------------------*//*                    width : 320 /*------------------------------------------------------------------------------*/
>>>>>>> ranya
@media only screen and (min-width: 0px) and (max-width: 450px) {
	body{
		width: 100%;
	}
	.header-locname {
		margin-top: 100px;
	}
	.logo {
		width: 245px;
		background-position: left center;
	}
	.header-search > section > div {
		padding-bottom: 0;
	}
	.header-search input[type="text"],.header-search .select-div,.header-search button[type="submit"] {
		margin-bottom: 10px;
	}
	.header-search input[type="text"]:first-child,.header-search input[type="text"] {
		width: 100%;
		margin-right: 0;
		
	}
	.recent-footer > a.recent-more {
		float: right;
	}
	.testimonials-slide,.slide-about,.accordion-about,.tabs-about {
		margin-bottom: 30px;
	}
	.section-4-number {
		margin-bottom: 30px;
	}
	.video-popup {
		height: 400px;
		width: 90%;
	}
	.team-img {
		max-width: 300px;
		margin: 30px auto 0;
	}
	.tabs-about .tabs li a {
		text-align: left;
		padding: 10px;
		width: auto;
	}
	.tabs-about .tabs li:last-child {
		float: left;
	}
	.social-contacts ul li a {
		margin-bottom: 10px;
	}
	.subscribe-contacts input[type="text"],.subscribe-contacts input[type="submit"] {
		width: 100%;
	}
	.subscribe-contacts input[type="text"] {
		margin-bottom: 10px;
	}
	.member-page-sidebar .recent-footer > div {
		margin-right: 30px;
	}
	#footer-bottom .social {
		float: left;
		margin-top: 20px;
	}
	.breadcrumbs {
		height: auto;
		padding: 60px 0 80px;
	}
	.member-page-sidebar {
		clear: both;
	}
	.time-line,.member-page-time-line {
		display: none;
	}
	.member-page {
		padding-left: 0;
	}
	.member-page-sidebar-recent .bx-controls-direction, .member-page-members .bx-controls-direction, .member-page-sidebar-recent-2 .bx-controls-direction {
		top: -92px;
	}
	.section-content.section-members-page {
		height: auto;
	}
	.follow-report {
		width: 100%;
	}
	.follow-report a {
		float: left;
	}
	.follow-report a.report-member {
		margin-bottom: 0;
	}
	.follow-report a.follow-member {
		margin-top: 10px;
	}
	.member-page-members .section-members {
		width: 48%;
		margin: 0 4% 4% 0;
	}
	.section-members {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.section-member-page-members .members-img {
		height: 170px;
	}
	.section-members .members-img {
		height: auto;
	}
	.follow-report {
		width: 100%;
	}
	.follow-report a {
		float: left;
	}
	.follow-report a.report-member {
		margin-bottom: 0;
	}
	.follow-report a.follow-member {
		margin-top: 10px;
	}
	.form-1 label {
		margin-bottom: 5px;
		display: block;
	}
	.register-loc-content {
		padding-bottom: 0;
	}
	.register-loc-content-6 {
		margin-bottom: 20px;
	}
	.register-loc {
		margin-bottom: 30px;
	}
	.section-content-alert-r,.note-place {
		width: 100%;
		margin-bottom: 0;
	}
	.google-account {
		margin-bottom: 10px !important;
	}
	a.connect-a {
		clear: none !important;
		margin: 0 !important;
	}
	a.skip-a-2 {
		float: left;
		clear: left;
		margin-right: 10px;
	}
	.adv,.qr-code img {
		max-width: 270px;
		margin-right: auto;
		margin-left: auto;
	}
	.header-top {
		height: auto;
		padding-bottom: 10px;
	}
	.header-nav {
		height: auto;
		padding-bottom: 10px;
	}
	.logo {
		margin-right: auto;
		margin-left: auto;
		float: none;
		display: block;
	}
	.navigation-mobile {
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
		float: none;
		display: block;
	}
	.header-nav .topbar_nav{
	    display: none;
	}
	.header-search-2.header-search input[type="text"]:first-child {
		width: 100%;
		margin-right: 0;
	}
	.header-search-2.header-search button[type="submit"] {
		width: 100%;
	}
	.section-content-head-span {
		display: block;
		margin-bottom: 10px;
		float: left;
	}
	.r-f-s,.section-place-page .follow-report {
		float: left;
		margin-top: 10px;
	}
	.section-place-page .follow-report a {
		margin-top: 10px;
		float: left;
	}
	.section-place-page-s {
		height: auto;
		padding-bottom: 10px;
	}
	.section-members-page .section-members-content ul li {
		margin-bottom: 5px;
	}
	.place-meta li > div,.place-meta li:last-child > div {
		width: 100%;
		margin: 0 0 10px 0;
	}
	.place-meta li:last-child > div:last-child {
		margin-bottom: 0;
	}
	a.section-content-head-a {
		margin-left: 30px;
	}
	.comments {
		width: 100%;
		margin-bottom: 30px;
	}
	.news-content {
		float: left;
		margin-top: 20px;
	}
	.error-404 h2 {
		font-size: 180px;
	}
	.share-networks li,.share-networks li a {
		width: 100%;
		margin-right: 0;
	}
	.form-register-locname {
		border-right: none;
	}
	.topbar_nav .nav_item{
		display: none;
	}
}
<<<<<<< HEAD
/*------------------------------------------------------------------------------*/
=======
>>>>>>> ranya
