 /* style the logo of locname in autocomplete */
        .ui-menu .ui-menu-item .ui-menu-item-icon
		{
            background-repeat: no-repeat;
            background-position: 2px, 0;
            background-size: 16px;
            padding-left: 23px;
        }
		
        .ui-autocomplete-term { font-weight: bold; color: black; }
         body{
             background-color: #f3f4f3;
         }
         form{
             margin-left: 20px;
         }

		 h3{
		 margin-left:10px}
#locname_logo{
float:right}