/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	font-family: 'Roboto-Regular';
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'RacingSansOne-Regular';
    src: url(../fonts/RacingSansOne-Regular.ttf) format('truetype');
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*--baner--*/
.baner {
   background:url(../images/3.jpg)no-repeat 0px 0px;
   background-size:cover;
   -webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
   min-height:700px;
}
.logo {
    margin: 3em 0 0;
}
.logo h1 {
    font-size: 3em;
    display: inline-block;
	font-family: 'RacingSansOne-Regular';
}
.logo h1 a {
    color: #fff;
}
span.jlogo {
    font-size: 1.5em;
    color: #5BD982;
}
a.navbar-brand {
    display: none;
}
.baner-text {
    width: 33%;
    margin-top: 4em;
    position: absolute;
    right: 9%;
}
.baner-text h2 {
    color: #fff;
    font-size: 6em;
    line-height: 1.2em;
    font-family: 'RacingSansOne-Regular';
}
/*--//baner--*/
/*--top-nav--*/
.top-nav {
    text-align: center;
    background-color: #2C302F;
    padding: 1em 0;
	z-index: 999;
}
nav.navbar.navbar-default {
    background-color: inherit;
    border: none;
    margin: 0;
}

/* Color of the Nav Bar   hover and normal */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .top-nav ul li  a.active:before {
    color: #5BD982;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus, .top-nav ul li  a.active:before {
    color: #c2c2c2;
}
/* Color of the Sidebar items  */

li > a:hover, .navbar-default .navbar-nav > li > a:focus, .top-nav ul li  a.active:before {
    color: #5BD982;
}

#task_manage ul li a {
    color: #CC0000;
}
.nav > li > a:focus, .top-nav ul li  a.active:before {
    color: #1ed983;
}
.nav > li > a, .top-nav ul li  a.active:before {
    color: #c2c2c2;
}
/* the style of the font   */

.top-nav ul li a {
 text-decoration: none;
    letter-spacing: 1px;
    font-size: 1em;
}
.top-nav ul li a:hover,
.top-nav ul li a:focus {
	outline: none;
}


.cl-effect-15 a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    left: 0;
	border-bottom: 2px solid #5BD982;
}
/*--//top-nav--*/
/*--about--*/
.about,.team ,.gallery,.special, .news, .services,.testimonials, .like ,.contact{
    padding: 5em 0;
}
h3.title {
    font-size: 3em;
    margin-bottom: .8em;
    text-align: center;
	color:#5BD982;
	font-family: 'RacingSansOne-Regular';
}
.about p {
    font-size: 1em;
    color: #777;
    text-align: center;
    width: 42%;
    margin: 0 auto;
    line-height: 1.8em;
}
/*--//about--*/
/*--slid--*/
.slid {
    background: url(../images/slid.jpg)no-repeat 0px 0px;
    background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
    padding: 7em 0;
}
.slid-info {
    width:38%;
}
.slid h4 {
    color: #fff;
    font-size: 4em;
	font-family: 'RacingSansOne-Regular';
}
.slid p {
    color: #fff;
    font-size: 1em;
    line-height: 1.8em;
    margin-top: 2em;
}
/*--//slid--*/
/*--team--*/
.team {
    background-color: #ececec;
}
.team-grids{
	margin:4em 0 0;
}
.team-grids:nth-child(2){
	margin:4em 0 0;
}
.team-grid-left{
	float:left;
	width:65%;
	text-align:right;
}
.team-grid-left h4 {
    margin: 0;
	font-size: 1.6em;
    color: #2C302F;
}
.team-grid-left p {
    color: #777;
    font-size: 1em;
    margin: .8em 0 0;
    line-height: 1.8em;
}
.team-grid-right{
	float:right;
	width:30%;
}
.team-grids img.img-responsive {
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    width: 100%;
}
.aliquam{
	float:left !important;
	width:30% !important;
}
.non{
	float:right !important;
	width:65% !important;
	text-align:left !important;
}
.team-grid:hover .team-grid-right {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
/*--//team--*/
/*--special--*/
.special p {
    color: #777;
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 1.5em;
}
.special h6 {
    font-size: 1.1em;
    color: #0E0E0E;
    line-height: 1.6em;
    margin-bottom: 0.3em;
}
.progress {
    height: 16px;
    margin-bottom: 15px;
	background-color: rgba(152, 152, 152, 0.57);
}
.progress-bar {
  background-color: #989898;
  line-height: 15px;
}
/*--special--*/
/*--gallery--*/
.gallery-grid {
  padding: 0;
}
.gallery1 {
	position:relative;
	overflow: hidden;
}
.gallery1 .textbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: rgba(91, 217, 130, 0.75);
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;

}
.gallery1:hover .textbox {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
.gallery-grid img{
		width:100%;
}
.textbox {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-align:center;
}
.textbox h4 {
    font-size: 2em;
    color: #fff;
    margin-top: 6.5em;
    font-family: 'RacingSansOne-Regular';
}
.gallery-grids {
  margin-top: 50px;
}
/*--//gallery--*/
/*-- services --*/
.servc-grid-left span.glyphicon {
    font-size: 3.5em;
    color: #fff;
	padding: 0.4em;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	background-color: #5BD982;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.servc-grids {
    margin-top: 5em;
}
.servc-grid-right h4 {
    font-size: 1.6em;
    margin: 0 0 .5em;
    color: #2C302F;
}
.servc-grid-right p{
	font-size:1em;
	color:#777;
	line-height:1.8em;
}
.servc-grid:hover .servc-grid-left span.glyphicon {
    transform: rotatey(360deg);
}
/*-- //services --*/
/*--testimonial--*/
.testimonials {
    background: url(../images/slid2.jpg)no-repeat 0px 0px fixed;
    text-align: center;
    background-size: cover;
}
.testimonials h3.title {
    color: #fff;
}
.view1.view-first {
    width: 71%;
    margin: 0 auto;
    padding: 2em 5em;
    border: 1px solid #fff;
}
.view1.view-first h5 {
  color: #5BD982;
  font-size: 1.4em;
  letter-spacing: 1px;
  margin: 0 0 1em 0;
}
.view1.view-first p {
    color: #fff;
    font-size: 1em;
    line-height: 1.8em;
}
/******** SAP ************/
.sap_tabs{
	clear:both;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
	width: 35%;
	list-style: none;
	padding: 0;
	margin: 0 auto 3em;
}
.resp-tab-item{
	cursor: pointer;
	padding: 3px;
	display: inline-block;
	margin: 0 .5em;
	list-style: none;
	width: 22%;
	border: 1px solid rgb(32, 36, 41);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.resp-tab-item:hover {
	text-shadow: none;
	color: #4fafa0;
}
.resp-tab-active{
	text-shadow: none;
	color:#fff;
	border: 1px solid #fff;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
@media only screen and (max-width:480px) {
	.resp-tabs-container{
		padding:10px;
	}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
/*--//testimonial--*/
.like {
	text-align:center;
}
.like-info {
    margin-top: 4em;
}
.like-grids {
  background-color: #2C302F;
  margin: 0 32px;
  width: 19%;
  padding: 20px;
}
.like-grids a {
  display: inline-block;
  border: 4px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 100px;
  height: 100px;
  padding-top: 25px;
}
.like-grids p {
  font-size: 1.3em;
  color: #fff;
  margin-top: 1em;
}
.like-grids:hover.like-grids a {
    border-style: dotted;
}
.like-grids:hover.like-grids a img{
	transform: rotatey(360deg);
	transition: .5s all;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	-moz-transition: .5s all;
}
.like-grids:nth-child(1):hover {
    background-color: #3b5998;
}
.like-grids:nth-child(2):hover {
    background-color: #cc2127;
}
.like-grids:nth-child(3):hover {
    background-color:#55acee;
}
.like-grids:nth-child(4):hover {
    background-color:#dd4b39 ;
}
/*--news--*/
.news {
    background: url(../images/slid1.jpg)no-repeat 0px 0px fixed;
    background-size: cover;
}
.news h3.title {
    color: #fff;
	margin:0;
}
.news-grids {
    margin-top: 6em;
}
.news-grids-left {
    float: left;
	width: 30%;
}
.news-grids-right {
    float: left;
    width: 70%;
}
.news-grids-left img {
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    border: 3px solid #5BD982;
}
.news-grids h5 {
    font-size: 1.3em;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    color: #5BD982;
}
.news-grids p {
    font-size: 1em;
    line-height: 1.8em;
    margin-top: 1em;
    color:#fff;
}
/*--//news--*/
/*--contact--*/
.contact {
	background-color: #ececec;
}
.map {
    padding: 0 0 5em !important;
}
.map iframe {
	width: 100%;
	height: 400px;
	border: 10px solid rgba(255, 255, 255, 0.43);
}
.contact-left p {
    font-size: 1em;
    color: #777;
    line-height: 1.8em;
}
.contact-left ul {
  margin: 1.5em 0 0 0;
  padding: 0;
}
.contact-left ul li {
    display: block;
    margin-top: 1em;
    font-size: 1em;
    color: #777;
}
.contact-left ul li a{
	color: #777;
}
.contact-left ul li a:hover{
	color:#54B572;
	padding-left: 15px;
}
.contact-left ul li span {
    width: 15px;
    height: 15px;
    margin-right: 0.5em;
}
.contact-form-left p {
  font-size: 1em;
  color: #777;
  line-height: 1.5em;
}
.contact-right input[type="text"] {
  border: 1px solid #fff;
  width: 32.3%;
  margin: 0 0 1em 0;
  outline: none;
  font-size: 1em;
  color: #777;
  padding: 10px 12px;
  -webkit-appearance: none;
}
.contact-right input[type="email"] {
  border: 1px solid #fff;
  margin: 0 .5em 1em 0.5em;
  outline: none;
  font-size: 1em;
  color: #777;
  padding: 10px 12px;
  width: 32%;
  -webkit-appearance: none;
}
.contact-right textarea {
    border: 1px solid #fff;
    outline: none;
    font-size: 1em;
    color: #777;
    padding: 10px 12px;
    width: 100%;
    resize: none;
    height: 15em;
    -webkit-appearance: none;
}
.contact-right input[type="submit"] {
    border: 1px solid #5BD982;
    padding: .5em 0;
    width: 22%;
    margin-top: 0.8em;
    font-size: 1.1em;
    color: #5BD982;
    letter-spacing: 1px;
    outline: none;
    background-color: #fff;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -webkit-appearance: none;
}
.contact-right input[type="submit"]:hover{
	background-color:#5BD982;
	color:#fff;
}
/*--footer--*/
.footer {
    text-align: center;
    padding: 1.5em 0;
    background-color: #2C302F;
}
.footer p {
	color: #fff;
	font-size: 1em;
}
.footer p a {
	color: #5BD982;
	margin-left: 2px;
}
.footer p a:hover{
	color: #fff;
}
/*--//footer--*/
/*---- responsive-design -----*/
@media(max-width:1440px){
.baner-text {
    width: 38%;
    right: 4%;
}
}
@media(max-width:1366px){
.baner-text h2 {
    font-size: 5.5em;
}
.baner {
    min-height: 670px;
}
.textbox h4 {
    margin-top: 6em;
}
}
@media(max-width:1280px){
.baner-text h2 {
    font-size: 5em;
}
.baner {
    min-height: 650px;
}
}
@media(max-width:1080px){
.baner-text h2 {
    font-size: 4.6em;
}
.logo {
    margin: 2em 0 0;
}
.baner {
    background-position:-45px 0px;
}

.about, .team, .gallery, .special, .news, .services, .like, .testimonials, .contact {
    padding: 4em 0;
}
.about p {
    width: 51%;
}
.slid h4 {
    font-size: 3.5em;
}
.slid-info {
    width: 42%;
}
.slid {
    padding: 6em 0;
}
.textbox h4 {
    margin-top: 5.3em;
    font-size: 1.8em;
}
.news-grids {
    margin-top: 5em;
}
.resp-tab-item {
    width: 27%;
}
.like-grids {
    margin: 0 20px;
    width: 20%;
}
.contact-right input[type="text"] {
    width: 31.95%;
}
.baner-text {
    margin-top: 6em;
}
}
@media(max-width:1024px){
.baner-text h2 {
    font-size: 4.4em;
}
.baner {
    background-position: 7px 0px;
    min-height: 600px;
}
}
@media(max-width:991px){
.baner {
    background-position: 5px 0px;
    min-height: 570px;
}
.baner-text h2 {
    font-size: 4.2em;
}
.logo {
    margin: 1em 0 0;
}

.about, .team, .gallery, .special, .news, .services, .like, .testimonials, .contact {
    padding: 3em 0;
}
.about p {
    width: 68%;
}
h3.title {
    font-size: 2.8em;
    margin-bottom: .6em;
}
.slid-info {
    width: 45%;
}
.slid h4 {
    font-size: 3em;
}
.slid {
    padding: 5em 0;
}
.special-grids:nth-child(1) {
    margin-bottom: 3em;
}
.team-grid-left {
    margin-top: 3em;
}
.gallery-grid {
    float: left;
    width: 33.33%;
}
.textbox h4 {
    margin-top: 5em;
    font-size: 1.6em;
}
.team-grids:nth-child(2) {
    margin: 3em 0 0;
}
.team-grids {
    margin: 2em 0 0;
}
.news-grids-left {
    width: 20%;
    margin-right: 4em;
}
.news-grids-left img {
    width: 100%;
}
.news-grids-right {
    margin-top: 1.5em;
}
.news-grids {
    margin-top: 4em;
}
.servc-grids {
    margin-top: 0;
}
.servc-grid {
    margin-top: 3em;
}
.servc-grid-right h4 {
    font-size: 1.4em;
}
.resp-tab-item {
    margin: 0 .2em;
}
.resp-tabs-list {
    width: 45%;
	margin: 0 auto 2em;
}
.view1.view-first {
    width: 85%;
}
.like-grids {
    margin: 0 10px;
    width: 22%;
    float: left;
}
.like-grids a {
    width: 90px;
    height: 90px;
    padding-top: 23px;
}
.like-grids a  img {
    width: 48%;
}
.map {
    padding: 0 0 3em !important;
}
.contact-right {
    padding: 0;
}
.contact-right input[type="text"] {
    width: 32.5%;
}
.contact-left {
    padding: 0;
    margin-top: 2em;
}
}
@media(max-width:900px){
.baner-text h2 {
    font-size: 3.8em;
}
.baner {
    min-height: 530px;
}
}
@media(max-width:900px){
.baner-text h2 {
    font-size: 3.4em;
}
.baner {
    background-position: -67px 0px;
}
}
@media(max-width:768px){
.baner {
    background-position: -57px 0px;
    min-height: 460px;
}
.baner-text {
    margin-top: 2em;
    width: 48%;
	right: 0%;
}
.team-grid-right {
    width: 24%;
}
.aliquam {
    width: 25% !important;
}
.like-info {
    margin-top: 3em;
}
.map iframe {
    height: 325px;
}
.top-nav {
    padding: 0.5em 0;
}
}
@media(max-width:767px){
button.navbar-toggle {
    border-color: #5BD982 !important;
    margin: 0 1em 1em 0;
    background-color: #5BD982;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #5BD982;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-nav {
    margin: 0;
}

.top-nav {
    padding: 1em 0 0;
}
a.navbar-brand {
    padding: 0;
    height: 1.1em;
    line-height: 1em;
    font-size: 2.3em;
    color: #fff !important;
    display: block;
    font-family: 'RacingSansOne-Regular';
    margin-left: 0.8em;
}
.logo {
    display: none;
}
.baner-text {
    margin-top: 8em;
    width: 56%;
}
}
@media(max-width:640px){
.baner {
    background-position: -53px 0px;
    min-height: 400px;
}
.baner-text h2 {
    font-size: 3.3em;
}
.baner-text {
    margin-top: 7em;
	width: 46%;
}
.logo {
    top: 68%;
}
.about, .team, .gallery, .special, .news, .services, .like, .testimonials, .contact {
    padding: 2.5em 0;
}
h3.title {
    font-size: 2.5em;
}
.about p {
    width: 85%;
}
.slid-info {
    width: 51%;
}
.slid {
    padding: 3.5em 0;
}
.slid h4 {
    font-size: 2.3em;
}
.team-grid-left {
    margin-top: 1em;
}
.team-grid-right {
    width: 22%;
}
.team-grid-left {
    width: 72%;
}
.team-grids:nth-child(2) {
    margin: 0;
}
.team-grids {
    margin: 0;
}
.team-grid-left h4 {
    font-size: 1.3em;
}
.team-grid {
    margin-top: 2em;
}
.aliquam {
    width: 22% !important;
}
.non {
    width: 73% !important;
}
.textbox h4 {
    margin-top: 5.5em;
    font-size: 1.2em;
}
.news-grids-right {
    margin-top: 0.5em;
}
.news-grids {
    margin-top: 3em;
}
.servc-grid-right {
    padding: 0;
}
.servc-grid-left span.glyphicon {
    font-size: 3em;
}
.resp-tabs-list {
    width: 55%;
}
.view1.view-first {
    padding: 1.5em 2em;
}
.view1.view-first h5 {
    margin: 0 0 0.5em 0;
}
.like-grids a img {
    width: 35%;
}
.like-grids a {
    width: 65px;
    height: 65px;
    border: 3px solid #fff;
    padding-top: 19px;
}
.like-grids {
    width: 21%;
    padding: 20px 10px;
}
.like-grids p {
    font-size: 1em;
}
.map iframe {
    height: 280px;
}
.contact-right input[type="text"] {
    width: 32.2%;
    font-size: .9em;
}
.contact-right input[type="email"] {
    font-size: .9em;
}
.contact-right textarea {
    font-size: 0.9em;
    height: 13em;
}
.contact-right input[type="submit"] {
    font-size: 1em;
}
}
@media (max-width:600px){
.baner-text h2 {
    font-size: 3em;
}
.baner {
    min-height: 371px;
}
}
@media(max-width:480px){
.baner {
    background-position: -49px 0px;
    min-height: 312px;
}
.baner-text h2 {
    font-size: 2.1em;
}
.top-nav {
    padding: 0.8em 0 0;
}
button.navbar-toggle {
    margin: 0 0.8em 0.8em 0;
}
nav.navbar.navbar-default {
    min-height: 0;
}
a.navbar-brand {
    line-height: 1.1em;
    font-size: 2em;
    margin-left: 0.6em;
}
.about, .team, .gallery, .special, .news, .services, .like, .testimonials, .contact {
    padding: 1.5em 0;
}
h3.title {
    font-size: 2em;
    margin-bottom: .5em;
}
.about p {
    width: 92%;
    font-size: 0.9em;
}
.slid h4 {
    font-size: 1.6em;
}
.slid p {
    font-size: 0.9em;
    margin-top: 1.5em;
}
.special p {
    font-size: 0.9em;
    margin-bottom: 1em;
}
.special h6 {
    font-size: 1em;
}
.progress {
    margin-bottom: 9px;
}
.team-grid-left h4 {
    font-size: 1.2em;
}
.team-grid-left p {
    font-size: 0.9em;
}
.team-grid {
    margin-top: 1.5em;
    padding: 0;
}
.gallery-grid {
    width: 50%;
}
.textbox h4 {
    margin-top: 5.5em;
    font-size: 1.3em;
}
.news-grids {
    margin-top: 2em;
	padding: 0;
}
.news-grids-left {
    margin-right: 2em;
}
.news-grids h5 {
    font-size: 1.2em;
}
.news-grids p {
    font-size: 0.9em;
    margin-top: 0.8em;
}
.servc-grid-right h4 {
    font-size: 1.2em;
}
.team-grid-left {
    margin-top: 0.5em;
}
.servc-grid-right p {
    font-size: 0.9em;
}
.servc-grid {
    padding: 0;
}
.servc-grid-left span.glyphicon {
    font-size: 2.5em;
}
.resp-tab-item img {
    width: 100%;
}
.resp-tabs-list {
    margin: 0 auto 0.5em;
}
.view1.view-first h5 {
    font-size: 1.1em;
}
.view1.view-first p {
    font-size: 0.9em;
}
.view1.view-first {
    width: 100%;
	padding: 1.5em 1em;
}
.like-info {
    margin-top: 1.5em;
}
.like-grids a {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    padding-top: 14px;
}
.like-grids p {
    font-size: 0.9em;
    margin-top: 0.8em;
}
.like-grids {
    width: 21%;
    padding: 20px 5px;
    margin: 0 8px;
}
.map {
    padding: 0 0 1.5em !important;
}
.map iframe {
    height: 250px;
    border: 5px solid rgba(255, 255, 255, 0.43);
}
.contact-right input[type="text"] {
    width: 100%;
	padding: 7px 10px;
}
.contact-right input[type="email"] {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 7px 10px;
}
.contact-left p {
    font-size: 0.9em;
}

.footer p {
    font-size: 0.9em;
}
}
@media(max-width:320px){
.baner {
    background-position: -7px 0px;
    min-height: 180px;
}
.navbar-default .navbar-toggle {
    padding: 7px 8px !important;
}
.baner-text h2 {
    font-size: 1.5em;
}
.baner-text {
    margin-top: 3.5em;
}
a.navbar-brand {
    margin-left: 0.5em;
}

h3.title {
    font-size: 1.8em;
    margin-bottom: .3em;
}
.about p {
    width: 100%;
    font-size: 0.85em;
}
.slid h4 {
    font-size: 1.4em;
}
.slid p {
    font-size: 0.85em;
    margin-top: 1em;
}
.slid-info {
    width: 95%;
}
.slid {
    padding: 2em 0;
}
.special-grids {
    padding: 0;
}
.special p {
    font-size: 0.85em;
}
.special h6 {
    font-size: 0.9em;
}
.progress {
    height: 12px;
}
.progress-bar {
    line-height: 13px;
    font-size: 10px;
}
.special-grids:nth-child(1) {
    margin-bottom: 2em;
}
.team-grid-left h4 {
    font-size: 1.1em;
}
.team-grid-left p {
    font-size: 0.85em;
    margin: .5em 0 0;
}
.team-grid {
    margin-top: 1em;
}
.textbox h4 {
    margin-top: 5em;
    font-size: 0.9em;
}
.news-grids-left {
    margin: 0 auto;
    width: 32%;
    float: none;
}
.news-grids-right {
    margin-top: 0.8em;
    float: none;
    width: 100%;
}
.news-grids p {
    font-size: 0.85em;
}
.servc-grid {
    margin-top: 1.5em;
}
.servc-grid-left {
    float: none;
    margin: 0 auto;
}
.servc-grid-right h4 {
    font-size: 1.1em;
}
.servc-grid-right p {
    font-size: 0.85em;
}
.servc-grid-right {
    width: 100%;
    margin-top: .8em;
    text-align: center;
}
.resp-tabs-list {
    width: 90%;
}
.view1.view-first {
    padding: 1em;
}
.view1.view-first p {
    font-size: 0.85em;
}
.resp-tabs-container {
    padding: 0;
}
.view1.view-first h5 {
    font-size: 1em;
}
.like-grids {
    width: 44%;
    padding: 20px 5px;
    margin: 0 8px 12px;
}
.map iframe {
    height: 200px;
}
.contact-right textarea {
    height: 10em;
}
.contact-right input[type="submit"] {
    font-size: 0.9em;
    width: 37%;
    padding: .3em 0;
}
.contact-left p {
    font-size: 0.85em;
}
.contact-left {
    margin-top: 1.5em;
}
.footer p {
    font-size: 0.85em;
}
}
/*--the task create organize
---*/

#first {
    width: 500px;
    float:left; /* add this */
}
#second {
    width: 500px;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}