body
{
	direction: rtl;
}
.side-nav
{
	right:225px ;
	left: inherit;
	margin-left: 0px !important;
    margin-right: -225px ;
}
.navbar-nav
{
	float: right ;
}
#page-wrapper
{
	margin-right: 225px !important;
}
.navbar-header

{
	float: right;
}